@media screen and (max-width: 768px) {
    div.modal .text-shadow__title-text {
        font-size: 23px;
    }

    div .modal__btn-close {
        width: 40px;
        height: 40px;
    }

    div .modal-content {
        padding: 28px 43px;
    }

    div .modal-header {
        padding-left: 0;
        padding-right: 0;
    }

    div .modal__flex-group {
        width: 100%;
    }

    div.modal .close {
        top: 15px;
        right: 15px;
    }

    .modal-body {
        padding-right: 0;
        padding-left: 0;
    }
}

.close {
    border: none;
    background: transparent;
    right: 28px;
    top: 28px;
    z-index: 12002;
}

.modal-ask .text-shadow__title-text {
    font-size: 30px;
}

.modal-form{
    margin-top: 90px;
}

.modal__flex-group {
    width: 47%;
}

.modal-label {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 135%;
    display: flex;
    align-items: center;
    color: #8798A5;
}

div .close {
    opacity: 1;
}

.wrapper-modal,
.modal-ask{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 12000;
    overflow: auto;
}

.modal-window {
    margin: auto;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 824px;
    min-height: 549px;
    max-width: 95%;
    background: white;
    opacity: 1;
    z-index: 12001;
    border-radius: 35px;
    box-shadow: -2px 4px 18px #A7B5BE;
}

.modal-content{
    margin: auto;
    border: none;
}